# STM32CubeIDE
.cache/
.settings/
*.launch
Backup/

# VSCode
.vscode/

# Build outputs
build/
Debug/

# OS
.DS_Store

# Python
web/api/venv/
.venv/
venv/
__pycache__/
*.py[cod]

# Node
node_modules/
dist/
